html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  background-image: url("fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logoGYM {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.logoGYM img {
  height: 100%;
  width: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.erro {
  color: red;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form input {
  margin-bottom: 10px;
  width: 280px;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(22, 179, 207, 0.479);
}

.form button {
  width: 200px;
  height: 60px;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.login-link {
  display: inline-block;
}

.login-link img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Media queries */
@media (max-width: 768px) {
  .logoGYM {
    height: 100px;
  }

  .form input {
    width: 80%;
  }

  .form button {
    width: 80%;
  }
}
